/**
*
* * Everything that controls typography can be found in this file all in one place
* TODO: Include custom downloaded font paths below --> Best for speed optimization
*
*/

@use "abstracts/mixins" as mixins;

// * --------| Font variables |-------- *
$font-primary: 'Oswald', sans-serif;
$font-secondary: 'Roboto', sans-serif;
$font-h1: 4rem;
$font-h2: 2.4rem;
$font-h3: clamp(2.5rem, 1.8vw, 2.8rem);
$font-h3-mobile: 3rem;
$font-body: clamp(1.5rem, 1.8vw, 1.8rem);
$font-body-mobile: 2rem;
$font-icon-title: 0.8rem;
$font-icon-body: 0.8rem;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');
//@import url('../fonts/rt-icons.ttf');
//@import url('../fonts/fa-brands-400.ttf');
/* Font mixins
@mixin font-primary {
  font-family: $font-primary;
	font-display: swap;
}

@mixin font-primary-i {
	font-family: $font-primary;
	font-display: swap;
	font-style: italic;
}


//Included fonts from assets

@font-face {
  @include font-primary;
  src: url('assets/fonts/OpenSans-Light.ttf') format("truetype");
  font-weight: 300;
}

@font-face {
  @include font-primary-i;
  src: url('assets/fonts/OpenSans-LightItalic.ttf') format("truetype");
  font-weight: 300;
}

@font-face {
  @include font-primary;
  src: url('assets/fonts/OpenSans-Regular.ttf') format("truetype");
  font-weight: 400;
}

@font-face {
  @include font-primary-i;
  src: url('assets/fonts/OpenSans-Italic.ttf') format("truetype");
  font-weight: 400;
}

@font-face {
  @include font-primary;
  src: url('assets/fonts/OpenSans-Medium.ttf') format("truetype");
  font-weight: 500;
}

@font-face {
  @include font-primary-i;
  src: url('assets/fonts/OpenSans-MediumItalic.ttf') format("truetype");
  font-weight: 500;
}

@font-face {
  @include font-primary;
  src: url('assets/fonts/OpenSans-SemiBold.ttf') format("truetype");
  font-weight: 600;
}

@font-face {
  @include font-primary-i;
  src: url('assets/fonts/OpenSans-SemiBoldItalic.ttf') format("truetype");
  font-weight: 600;
}

@font-face {
  @include font-primary;
  src: url('assets/fonts/OpenSans-Bold.ttf') format("truetype");
  font-weight: 700;
}

@font-face {
  @include font-primary-i;
  src: url('assets/fonts/OpenSans-BoldItalic.ttf') format("truetype");
  font-weight: 700;
}

@font-face {
  @include font-primary;
  src: url('assets/fonts/OpenSans-ExtraBold.ttf') format("truetype");
  font-weight: 800;
}

@font-face {
  @include font-primary-i;
  src: url('assets/fonts/OpenSans-ExtraBoldItalic.ttf') format("truetype");
  font-weight: 800;
}*/



html {
	// ! Makes 1 rem = 10px ( Simplifies dealing with rem to px calcs )
	font-size: 62.5%; // 10px / 16px = 65.5% 

  
}

body {
	font-family: $font-primary;
}

.icon {
  display: inline-block;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.section-title a {
  color: var(--color-white);
  font-size: 3rem;
  text-decoration: none;
  transition: color 0.4s;

  &:hover{
    color: var(--color-red);
  }

  & i{
    font-size: 1.5rem;
  }
}

.h2__heading{
	font-size: 4rem;
	font-weight: 600;
	text-align: center;
	margin-bottom: 4rem;
	position: relative;
	z-index: 5;
    

}

.h3__heading{
	font-size: $font-h3;
	font-weight: 400;

	@include mixins.respond(medlg){
		font-size: $font-h3-mobile;
	}
}




// Uppercase 
.uppercase{
  text-transform: uppercase;
}
