/**
*
* * All variables for project can be found in this file
*
*/

// * --------| Color variables |-------- *
:root {
  --color-red: #e41b23;
  --color-red-a: 228, 27, 35;

  --color-dark-blue: #04304f;
  --color-dark-blue-a: 4, 48, 79;

  --color-grey: #666666;
  --color-grey-a: 226, 229, 234;

  --color-dark-grey: #44546A;
  --color-dark-grey-a: 102, 102, 102;


  --color-black: #000000;

  --color-white: #ffffff;
  --color-white-a: 255, 255, 255;

  --border-radius: 10rem;
  




}


